-f https://download.pytorch.org/whl/torch_stable.html
torch>1.13.0+cpu
transformers[torch]==4.11.2
pydantic==1.8.2
fastapi==0.68.1
numpy>=1.22
gunicorn==20.1.0
uvicorn==0.15.0
httptools==0.3.0
uvloop==0.16.0
onnxruntime==1.9.0
